<h1>Display your Pirate here</h1>

<ul>
<li><%= @pirate.name %></li>
<li><%= @pirate.weight %></li>
<li><%= @pirate.height %></li>
</ul>

<h2>Display your Ships here</h2>
<% @ships.each do |ship| %>
  <ul>
    <li><%= ship.name %></li>
    <li><%= ship.type %></li>
    <li><%= ship.booty %></li>
  </ul>
<% end %>